
{{#each sections as |section|}}
  <div>
    <h2>{{section.title}}</h2>
    {{get data section.key}}
  </div>
{{/each}}

{{#each relatedEntities as |entity|}}
  <h2>{{entity.title}}</h2>

  <ul>
  {{#each entity.data as |item|}}
    <li>
    {{#link-to entity.link item.id}}
      {{get item entity.key}}
    {{/link-to}}
    </li>
  {{/each}}
  </ul>
{{/each}}
