
<div>
  <h1>
    {{#link-to "films"}}
      <img src="../assets/images/logo.png" alt="Studio Ghibli" />
    {{/link-to}}
  </h1>

  <ul>
    <li>{{link-to 'Films' 'films'}}</li>
    <li>{{link-to 'People' 'people'}}</li>
    <li>{{link-to 'Locations' 'locations'}}</li>
    <li>{{link-to 'Vehicles' 'vehicles'}}</li>
  </ul>
</div>